<div class="sf-font-style">
<table>
<tr>
<td>
<a href="http://www.schemeworkshop.org/">
<img border="0" src="sfp.png" width="435" height="314" /></a></td>
<td>
<font size="+1">
<table>
<tr><td colspan="2">
<font size="+1">Steering committee:</font></td></tr>
<tr>
  <td>&nbsp;&nbsp;&nbsp;</td>
  <td><a href="http://webyrd.net/"><font size="+1">Will Byrd</font></a></td>
</tr>
<tr>
  <td>&nbsp;&nbsp;&nbsp;</td>
  <td><a href="https://www.iro.umontreal.ca/~feeley/"><font size="+1">Marc Feeley</font></a></td>
</tr>
<tr>
  <td>&nbsp;&nbsp;&nbsp;</td>
  <td><a href="https://www.cs.indiana.edu/~dfried/"><font size="+1">Dan Friedman</font></a></td>
</tr>
<tr>
  <td>&nbsp;&nbsp;&nbsp;</td>
  <td><a href="https://jasonhemann.github.io"><font size="+1">Jason Hemann</font></a></td>
</tr>
<tr>
  <td>&nbsp;&nbsp;&nbsp;</td>
  <td><a href="https://www.ccs.neu.edu/home/shivers/"><font size="+1">Olin Shivers</font></a></td>
</tr>
</table>
</font>
</td>
</tr>
</table>
</div>
