<div class="sf-font-style">
<table>
<tr>
<td>
<a href="http://www.schemeworkshop.org/">
<img border="0" src="sfp.png" width="435" height="314" alt="workshop logo" /></a></td>
<td>
<table style="font-size: larger">
<tr><td colspan="2">
Steering committee:</td></tr>
<tr>
  <td>&nbsp;&nbsp;&nbsp;</td>
  <td><a href="https://namin.seas.harvard.edu/">Nada Amin</a></td>
</tr>
<tr>
  <td>&nbsp;&nbsp;&nbsp;</td>
  <td><a href="http://webyrd.net/">Will Byrd</a></td>
</tr>
<tr>
  <td>&nbsp;&nbsp;&nbsp;</td>
  <td><a href="https://prg.is.titech.ac.jp/people/cong/">Youyou Cong</a></td>
</tr>
<tr>
  <td>&nbsp;&nbsp;&nbsp;</td>
  <td><a href="https://www.iro.umontreal.ca/~feeley/">Marc Feeley</a></td>
</tr>
<tr>
  <td>&nbsp;&nbsp;&nbsp;</td>
  <td><a href="https://jasonhemann.github.io">Jason Hemann</a></td>
</tr>
<tr>
  <td>&nbsp;&nbsp;&nbsp;</td>
  <td><a href="https://www.ccs.neu.edu/home/shivers/">Olin Shivers</a></td>
</tr>
</table>
</td>
</tr>
</table>
</div>
